<!DOCTYPE html>
<!-- This is machine generated, please excuse the odd whitespaces -->
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1,
                                    maximum-scale=1, user-scalable=no">
      <!--
        Name should always be first: When someone sees a tab, the first thing
        they see in the tab name should be the most important thing, as the page
        title may be truncated.
      -->
    <title>
      {{ person_info["name"] }} | {{ document_formatting["title"] }}
      {% if "subtitle" in document_formatting %}
        | {{ document_formatting["subtitle"] }}
      {% endif %}
    </title>
    <link href="resume.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="favicon.ico">
  </head>
  <body>
    <header>
      <!-- Here's a compatibility notice for IE. -->
      <!--[if lt IE 10]
        <div id="browser_warning" class="content">
          Uh oh! It looks like you're running an unsupported browser.
          This page may work better on a recent version of Firefox or
          Chrome.
        </div>
      [endif]-->
      <section class="title-block">
        <!-- The name of the document, something like "Resume" -->
        <h1>{{ document_formatting["title"] }}</h1>
        <!-- A subtitle is optional -->
        {% if "subtitle" in document_formatting %}
          <h2>{{ document_formatting["subtitle"] }}</h2>
        {% endif %}
      </section>
      <section class="personal-info">
        <!-- The person's name and contact information (if any) -->
        <h1>{{ person_info["name"] }}</h1>
        <!--
          The person's 'titles'. This can be stuff like "Software Developer" or
          "Web Designer"
        -->
        {% for t in person_info["titles"] %}
            <h2>{{ t }}</h2>
        {% endfor %}

        {% set email = person_info["contact"]["email"] %}
        {% set social_media = person_info["contact"]["social_media"] %}
        {% set web_contact = [{"service":email, "url":"mailto:" + email}]
                             + social_media %}
        <address>
          {% for c in web_contact %}
            <a href="{{ c["url"] }}">{{ c["service"] }}</a>
          {% endfor %}
        </address>
      </section>
    </header>
    <section class="body">
      {% if "public_about" in person_info or "about" in person_info %}
        <section class="about-me">
          <h1>About Me</h1>
          {{ person_info["about"] }}
        </section>
      {% endif %}
      {% if experiences is defined %}
        <section class="experiences">
          <h1>Projects</h1>
          {% for experience in experiences %}
            <div class="experience">
              <h2>
                {{ experience["title"] }}
                {% if "start_time" in experience or "end_time" in experience %}
                  <span class="dates"><!--
                    {% if "start_time" in experience %}
                      -->{{ experience["start_time"] }}<!--
                    {% endif %}
                    -->&ndash;<!--
                    {% if "end_time" in experience %}
                      -->{{ experience["end_time"] }}<!--
                    {% endif %}
                  --></span>
                {% endif %}
                {% if "timeframe" in experience %}
                  <span class="dates">
                    {{ experience["timeframe"] }}
                  </span>
                {% endif %}
              </h2>
              {{ experience["description"] }}
              {% if experience["links"] %}
                <h3>Related Content:</h3>
                <ul class="links">
                  {% for link in experience["links"] %}
                    <li>
                      <a href="{{ link["url"] }}" target="new">
                        {{ link["description"] }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              {% endif %}
            </div>
          {% endfor %}
        </section>
      {% endif %}
      <div class="list-group">
        {% if "programing_languages" in knowledge_base %}
          <section class="programing-languages">
            <h1>Programing Languages</h1>
            <ul class="info-body">
              {% for language in knowledge_base["programing_languages"] %}
                <li>{{ language }}</li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
        {% if "markup_languages" in knowledge_base %}
          <section class="markup-languages">
            <h1>Markup Languages</h1>
            <ul class="info-body">
              {% for language in knowledge_base["markup_languages"] %}
                <li>{{ language }}</li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
        {% if "known_tools" in knowledge_base %}
          <section class="info-block known-tools">
            <h1>Technologies</h1>
            <ul class="info-body">
              {% for tool in knowledge_base["known_tools"] %}
                <li>{{ tool }}</li>
              {% endfor %}
            </ul>
          </section>
        {% endif %}
      </div>
    </section>
    <footer>
      {% if "meta_text" in document_formatting %}
        {{ document_formatting["meta_text"] }}
      {% endif %}
    </footer>
  </body>
</html>
